[Unit]
Description=Git pull service
After=network.target

[Service]
ExecStart=/home/lars_rauer/bird/git_pull.sh
WorkingDirectory=/home/lars_rauer/bird
User=lars_rauer

[Install]
WantedBy=multi-user.target