[Unit]
Description=Autostart bHIC_ML/AI service

[Service]
WorkingDirectory=/home/lars_rauer/bird
ExecStart=/home/lars_rauer/bird/start_all_services.sh
User=lars_rauer

[Install]
WantedBy=multi-user.target